body {
    background-color: #333;
    font-family:'Oswald', sans-serif;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #00766e;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 64px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    color: rgb(0, 34, 255);
}

.row {
    display: flex;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 4px;
    font-size: 1.5em;
    border: 4px solid transparent;
    color: rgb(255, 255, 255);
    background-color: crimson;
    border-radius: 5px;
    margin-bottom: 10px;
    visibility: hidden;

}

.X {
    color: rgb(255, 255, 255);
}

